* {
  box-sizing: border-box;
}

div.content {
  background-color: darkgray;
  padding: 5px;
  border: 1px solid black;
  float: left;
  position: relative;
  margin-top: 15px;
  margin: 10px;
  box-sizing: border-box;
}

#t {
  padding: 0px;
}
#row {
  box-sizing: border-box;
  margin-left: 0px;
  margin-right: 0px;
}

@media (max-width: 768px) {
  .endlink {
    visibility: visible;
  }
}

@media (min-width: 767px) and (max-width: 3499px) {
  .endlink {
    visibility: hidden;
  }
}
